<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>GH Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="site_media/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../site_media/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="../site_media/js/jquery-1.8.2.min.js"></script>
    <script src="../site_media/js/jquery.form.js"></script>    
    <script src="../site_media/js/bootstrap.js"></script>
    <script src="../site_media/js/bootstrap.min.js"></script>
    <script src="../site_media/js/knockout-2.1.0.js"></script>
    <script src="../site_media/js/knockout.validation.js"></script>
    <script type="text/javascript" src="/site_media/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/site_media/js/ckeditor/adapters/jquery.js"></script>
    <script src="../site_media/js/ko_main.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
	    	$("li .active").removeClass('active');
	    	$("a[href='" + window.location.pathname + "']").parent().addClass('active');
	    	$('.dropdown-toggle').dropdown();
	    	
	    	var formContainer = $("#form_container");
            var loader = $("#loading-placeholder");

            $('#upload_article_tar').click(function(){
                loadForm('/upload_article/', formContainer, loader);
            });
            $('#manage_articles').click(function(){
                loadForm('/manage_articles/', formContainer, loader);
            });
            $('#manage_blogs').click(function(){
                loadForm('/manage_blogs/', formContainer, loader);
            });
            $('#pr_check').click(function(){
                loadForm('/pr_check/', formContainer, loader);
            });
            $('#bing_grab').click(function(){
                loadForm('/bing_grab/', formContainer, loader);
            });
            $('#post_article').click(function(){
                loadForm('/post_article/', formContainer, loader);
            });
            
	    	{% block js %}
	    	{% endblock %}
    	})
    </script>
    
    {% block head %}
    {% endblock %}
    
  </head>

  <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container"  style="width: auto;margin-left: 165px;margin-right: 5px;float: none; overflow: visible;">
                    <a class="brand" href="/">GH Tools</a>
                    <div class="nav-collapse">
                    	<ul class="nav">
                            <li><a href="/home/">Home</a></li>
                            <li><a href="/contact/">Contact</a></li>
                            <li><a href="/about/">About</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="divider-vertical"></li>
                 			{% if user.is_authenticated %}
		                    <li class="dropdown">
        		              <a href="#" id="account_drop" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} ({{ user.email }})</a>
                      		  <ul class="dropdown-menu" role="menu" aria-labelledby="account_drop">
                        		<li><a tabindex="-1" href="/account/">Edit Account</a></li>
                        		<li class="divider"></li>
                        		<li><a tabindex="-1" href="/logout/">Logout</a></li>
                      		  </ul>
                    		</li>
                 			{% else %}
                 				<li><a href="/login/">Login</a>
                 			{% endif %}
            			</ul>
          			</div><!--/.nav-collapse -->
        		</div>
      		</div>
    	</div>

 <div class="container-fluid">
	{% block content %}
	{% if user.is_authenticated %}
              <div class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Articles</li>
                            <li><a id="upload_article_tar">Upload articles</a></li>
                            <li><a id="manage_articles">Manage articles</a></li>
                        </ul>
                        <ul class="nav nav-list">
                            <li class="nav-header">Blogs</li>
                            <li><a id="manage_blogs">Manage blogs</a></li>
                        </ul>
                        <ul class="nav nav-list">
                            <li class="nav-header">Tools</li>
                            <li><a id="post_article">Post Article</a></li>
                            <li><a id="pr_check">Page Rank Check</a></li>
                            <li><a id="bing_grab">Bing Grabber</a></li>
                        </ul>
                        <ul class="nav nav-list">
                            <li class="nav-header">Jobs</li>
                            <li><a id="manage_jobs">Manage jobs</a></li>
                        </ul>
                        <br/>
                    </div>
                </div>
                <div class="span8" id="loading-placeholder" style="display:none;">Loading...</div>
                <div class="span8" id="form_container">
                	{% include "welcome_message.html" %}
                </div>
            </div>
    	
    {% else %}
       	<h1>Please login.</h1>
    	<p>You will see cool stuff.</p>
    {% endif %}

      {% endblock %}
    </div>


    
   </body>
</html>
