{% block head %}
    <style type="text/css"></style>
    <title>Upload article pack</title>  
    <script type="text/javascript">  
        $(document).ready(function() { 
            var jquery_form_options = {target:'#form_container'};
            $('#upload_article_form').ajaxForm(jquery_form_options);
            
            $('[id^="pack"]').click(function(){
                var $this = $(this);
                $.getJSON('/process_pack/'+ $this.attr("name") +'/',function(data){
                     status = data.status;
                     if (status == 'success') { loadForm('/upload_article/', $("#form_container"), $("#loading-placeholder"))}
                     });
            });
        });
    </script>
{% endblock %}
{% block content %}
    <fieldset>
    <legend>Article packs</legend>
    {% if packs %}
    <table class="table" id="ArticlePacksTable" style="font-size: 11px;">
        <thead>
            <tr>
                <th class="span1">Date</th>
                <th class="span1">Description</th>
                <th class="span1">Name</th>
                <th class="span1">Processed</th>
            </tr>
        </thead>
        {% for pack in packs %}
        <tr>
            <td>{{ pack.submit }}</td>
            <td>{{ pack.description }}</td>
            <td><a href="{{ pack.packfile.url }}">{{ pack.packfile.name }}</a></td>
            {% if not pack.processed %}
            <td><a id="pack" name="{{ pack.id }}">{{ pack.processed }}</td>
            {% else %}            
            <td>{{ pack.processed }}</td>        
            {% endif %}        
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No article packs.</p>
    {% endif %}
    </fieldset>
    <fieldset>
    <legend>Upload article pack</legend>
    <form id="upload_article_form" action="/upload_article/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.description.label_tag }}</p>
        <p>
            {{ form.description }}
            {{ form.description.errors }}
        </p>
        <p>{{ form.niche.label_tag }}</p>
        <p>
            {{ form.niche }}
            {{ form.niche.errors }}
        </p>
        <p>{{ form.packfile.label_tag }}</p>
        <p>
            {{ form.packfile }}
            {{ form.packfile.errors }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>
    </fieldset>
{% endblock %}






